.modal-contenido{
  width:700px;
  padding: 10px 20px;
  margin: 10% auto;
  position: relative;
}
.modal{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  pointer-events:none;
  transition: all 1s;
  display: none;
  z-index: 1000;
}
#cambioperfil:target{
  pointer-events:auto;
    z-index: 1000;
}
